.offer{
    display: flex;
    justify-content: center; flex-direction: column; align-items: center;
    .offerWrapper{
        display: flex;
        flex-wrap: wrap; place-content: center space-around; align-items: center;
        
        .offerContainer{
            max-width: 400px;
            display: flex;
            justify-content: space-between; flex-direction: column; align-items: center;
            margin: 1rem;
            
            img,h2{
                margin: 1rem 0;
            }
            p{
                margin: 2rem 0;
            }

            &:nth-child(2){
                position: relative;
                bottom: 100px;
            }
        }
        
    }

    button{
        background-color: var(--common-text_color);
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        color: var(--bcg-color);
        font-family: var(--button-text_font);
        font-weight: bold;
        border: 4px solid var(--bcg-color);
        transition: 0.2s;

        &:hover{
            border-color: var(--common-text_color);
        }
        &:active{
            background-color: var(--side-color);
            color: var(--common-text_color);
        }
    }
}