@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Work+Sans&display=swap");
:root {
  --bcg-color: #efe8e5;
  --side-color: #fff;
  --common-text_font: ` "Poppins", sans-serif`;
  --button-text_font: ` "Work Sans", sans-serif`;
  --common-text_color: #1e284a;
  --common-text_size: 1rem;
  --header-text_size: 1.5rem;
  --heroHeader-text_size: 4rem;
  --h2-text_size: 2rem;
}
#app {
  font-family: var(--common-text_font);
  color: var(--common-text_color);
  margin-top: 60px;
}
body {
  background-color: var(--bcg-color);
  margin: 0;
}